<h1>
  todo
</h1>
  <div>
    <div class="container-fluid row">
      <app-todo-input (newTodo)="addTodo($event)"></app-todo-input>
    </div>

    <div class="container-fluid well well-sm">
      <app-todo-list 
        [todos]="(todos | filterByStatus:statusFilter)" 
        [statusFilter]="statusFilter"
        (todoUpdate)="updateTodo($event)"
        (todoRemoved)="removeTodo($event)"
      ></app-todo-list>
    </div>

    <div class="container-fluid well well-lg">
      <app-todo-controls 
        [numActive]="numActive" 
        [numCompleted]="numCompleted" 
        (clearCompleted)="clearCompleted()" 
        (filterList)="filterList($event)"
      ></app-todo-controls>
    </div>

  </div>
