
<div class="todo-input">
  <form class="form" #form="ngForm" (ngSubmit)="addTodo()">
    <div class="input-group">
      <input 
        name="todo-input" 
        class="form-control"
        [(ngModel)]="newDesc" 
        placeholder="What needs to be done?" 
        required
      >
      <div class="input-group-btn ">
        <button type="submit" class="btn btn-default" [disabled]="form.invalid">Submit</button>
      </div>
    </div>
  </form>
</div>