
<div class="todo-container" (blur)="endEditMode()">
  <div class="col-md-1">
    <input type="checkbox" [(ngModel)]="selected" (change)="updateTodo()">
  </div>
  <div 
    class="todo-display" 
    [hidden]="editMode" 
    (dblclick)="startEditMode()" 
    (mouseenter)="mouseover=true"
    (mouseleave)="mouseover=false"
  >
    <div 
      class="col-md-10" 
      [style.text-decoration]="(todo.status === status.completed) ? 'line-through':'none'"
    >
      <p>{{todo.description}}<p>
    </div>
  </div>
  <div class="todo-edit" [hidden]="!editMode">
    <form #form="ngForm" (ngSubmit)="updateTodo()">
      <div class="input-group" class="col-md-10">
        <input class="form-control" [(ngModel)]="newDesc" (blur)="endEditMode()" name="todo-input" required>
      </div>
    </form>
  </div>
  <div class="col-md-1">
    <button type="button" class="btn-link" (click)="todoRemoved.emit(todo.id)" [hidden]="!mouseover">
      <span class="glyphicon glyphicon-remove"></span>
    </button>
  </div>
</div>