
<div class="row">
  <div class="col-md-4">
  <p>{{ numActive }} items left</p>
  </div>
  <div class="col-md-4">
    <div class="btn-group btn-group-xs" role="group" data-toggle="buttons">
      <label class="btn btn-default active" (click)="filterList.emit(null)">
        <input type="radio" name="options" autocomplete="off" checked>All
      </label>
      <label class="btn btn-default" (click)="filterList.emit(status.active)">
        <input type="radio" name="options" autocomplete="off">Active
      </label>
      <label class="btn btn-default" (click)="filterList.emit(status.completed)">
        <input type="radio" name="options" autocomplete="off">Completed
      </label>
    </div>
  </div>
  <div class="col-md-4" *ngIf="numCompleted > 0" >
    <a href="#" (click)="clearCompleted.emit()" >Clear Completed ({{ numCompleted }})</a>
  </div>
</div>