
<ul>
  <li *ngFor="let todo of todos">
    <div class="row">
      <app-todo 
      	[todo]="todo" 
      	(todoUpdate)="todoUpdate.emit($event)" 
      	(todoRemoved)="todoRemoved.emit($event)"
      >
      </app-todo>
    </div>
  </li>
</ul>